body {
  background-color: #00d7ff;
}
.App {
  height: 100vh;
}
.circle-bg {
  height: 600px;
  width: 600px;
  background-color: #8af0ff;
  opacity: 0.8;
  border-radius: 50%;
  position: absolute;
  left: 631px;
  top: -500px;
}
.circle-bg2 {
  height: 200px;
  width: 200px;
  background-color: #8af0ff;
  opacity: 0.7;
  border-radius: 50%;
  position: absolute;
  left: -77px;
  top: 105px;
}
.results-wrapper {
  width: 100%;
  height: 100%;
}

.title-class {
  font-size: 63px;
  line-height: 60px;
  color: black;
  padding-bottom: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}
.title-col-container {
  display: flex;
  align-items: center;
}
.clipart-col-container {
  display: flex;
  justify-content: center;
}

/*animation*/
.circle {
  color: white;
  animation: circle 6s linear infinite;
  display: flex;
  justify-content: center;
  margin-right: -362px;
}
/*TEMP*/
#temp {
  position: absolute;
  right: 3px;
  top: 1px;
  font-size: 120px;
  font-weight: 400;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-100px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-100px) rotate(-360deg);
  }
}
